body{

    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
button{
    background-image: linear-gradient( red, transparent);
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: none;
}